<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
  <servlet>
  	<servlet-name>UserServlet</servlet-name>
  	<servlet-class>memo.yueyiqiu.action.UserServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>MemoServlet</servlet-name>
  	<servlet-class>memo.yueyiqiu.action.MemoServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>UserServlet</servlet-name>
  	<url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>MemoServlet</servlet-name>
  	<url-pattern>/MemoServlet</url-pattern>
  </servlet-mapping>
  
</web-app>